@{
    int n = 100;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/StyleSheet1.css">
    <title>Exercise 1 - FizzBuzz</title>
</head>
<body>
    <div>
        <ul>
            @for (int i = 1; i <= n; i++)
            {
                if (i % 15 == 0 && i != 0)
                {
                    <li class="FizzBuzz">Fizzbuzz</li>
                }
                else if (i % 5 == 0 && i != 0)
                {
                    <li class="Buzz">Buzz</li>
                }
                else if (i % 3 == 0 && i != 0)
                {
                    <li class="Fizz">Fizz</li>
                }
                else
                {
                    <li>@i</li>
                }
            }
        </ul>
    </div>
</body>
</html>
