@model IEnumerable<GetExercises.Web.Models.Actor>
@using GetExercises.Web.Models

@{
    ViewBag.Title = "SearchResult";
}

<h2>SearchResult</h2>

<p>
    @Html.ActionLink("New Search", "Index")
</p>
<table class="table">
    <tr>
        <th>
            Actor Name
        </th>
        <th>
        </th>
        <th></th>
    </tr>

@foreach (Actor item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
    </tr>
}

</table>
